<div id="top-container" class="container-fluid">
  <h1 id="main-title" class="text-center">
    Encontre o emprego dos seus sonhos
  </h1>
  <p id="main-subtitle" class="text-center">
    Somos o site com mais vagas de tecnologia no mercado direcionadas ao home
    office
  </p>

  <form
    id="search-form"
    class="row g-2 align-items-center"
    action="/"
    method="GET"
  >
    <div class="form-group col-md-10">
      <input
        type="text"
        class="form-control"
        id="job"
        name="job"
        placeholder="Digite o nome da vaga que está procurando"
      />
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>
</div>

<main>
  <div id="jobs-container" class="container">
    <div class="row">
      {{#if search}}
        <h2 id="job-list-title">Buscando vagas que contem: {{search}}</h2>
      {{else}}
        <h2 id="job-list-title">Veja as nossas vagas em destaque</h2>
      {{/if}}

      <ul id="job-list" class="list-group">
        {{#each jobs}}
          {{#if dataValues.new_job}}
            <li class="list-group-item new-job">
              <img src="/img/company.svg" alt="Company" />
              <p>{{dataValues.company}}</p>
              <h2>{{dataValues.title}}</h2>
              <p>R${{dataValues.salary}}</p>
              <span class="new-job-label">Nova</span>
              <a href="/jobs/view/{{dataValues.id}}" class="btn btn-primary">Ver
                vaga</a>
            </li>
          {{else}}
            <li class="list-group-item">
              <img src="/img/company.svg" alt="Company" />
              <p>{{dataValues.company}}</p>
              <h2>{{dataValues.title}}</h2>
              <p>R${{dataValues.salary}}</p>
              <a href="/jobs/view/{{dataValues.id}}" class="btn btn-primary">Ver
                vaga</a>
            </li>
          {{/if}}
        {{/each}}
      </ul>

    </div>
  </div>
</main>